@font-face {
  font-family: 'son';
  src:  url('../fonts/son.eot?gnr7xz');
  src:  url('../fonts/son.eot?gnr7xz#iefix') format('embedded-opentype'),
    url('../fonts/son.ttf?gnr7xz') format('truetype'),
    url('../fonts/son.woff?gnr7xz') format('woff'),
    url('../fonts/son.svg?gnr7xz#son') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'son' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-home:before {
  content: "\e900";
}
.fa-home2:before {
  content: "\e901";
}
.fa-home3:before {
  content: "\e902";
}
.fa-office:before {
  content: "\e903";
}
.fa-newspaper:before {
  content: "\e904";
}
.fa-pencil:before {
  content: "\e905";
}
.fa-pencil2:before {
  content: "\e906";
}
.fa-quill:before {
  content: "\e907";
}
.fa-pen:before {
  content: "\e908";
}
.fa-blog:before {
  content: "\e909";
}
.fa-eyedropper:before {
  content: "\e90a";
}
.fa-droplet:before {
  content: "\e90b";
}
.fa-paint-format:before {
  content: "\e90c";
}
.fa-image:before {
  content: "\e90d";
}
.fa-images:before {
  content: "\e90e";
}
.fa-camera:before {
  content: "\e90f";
}
.fa-headphones:before {
  content: "\e910";
}
.fa-music:before {
  content: "\e911";
}
.fa-play:before {
  content: "\e912";
}
.fa-film:before {
  content: "\e913";
}
.fa-video-camera:before {
  content: "\e914";
}
.fa-dice:before {
  content: "\e915";
}
.fa-pacman:before {
  content: "\e916";
}
.fa-spades:before {
  content: "\e917";
}
.fa-clubs:before {
  content: "\e918";
}
.fa-diamonds:before {
  content: "\e919";
}
.fa-bullhorn:before {
  content: "\e91a";
}
.fa-connection:before {
  content: "\e91b";
}
.fa-podcast:before {
  content: "\e91c";
}
.fa-feed:before {
  content: "\e91d";
}
.fa-mic:before {
  content: "\e91e";
}
.fa-book:before {
  content: "\e91f";
}
.fa-books:before {
  content: "\e920";
}
.fa-library:before {
  content: "\e921";
}
.fa-file-text:before {
  content: "\e922";
}
.fa-profile:before {
  content: "\e923";
}
.fa-file-empty:before {
  content: "\e924";
}
.fa-files-empty:before {
  content: "\e925";
}
.fa-file-text2:before {
  content: "\e926";
}
.fa-file-picture:before {
  content: "\e927";
}
.fa-file-music:before {
  content: "\e928";
}
.fa-file-play:before {
  content: "\e929";
}
.fa-file-video:before {
  content: "\e92a";
}
.fa-file-zip:before {
  content: "\e92b";
}
.fa-copy:before {
  content: "\e92c";
}
.fa-paste:before {
  content: "\e92d";
}
.fa-stack:before {
  content: "\e92e";
}
.fa-folder:before {
  content: "\e92f";
}
.fa-folder-open:before {
  content: "\e930";
}
.fa-folder-plus:before {
  content: "\e931";
}
.fa-folder-minus:before {
  content: "\e932";
}
.fa-folder-download:before {
  content: "\e933";
}
.fa-folder-upload:before {
  content: "\e934";
}
.fa-price-tag:before {
  content: "\e935";
}
.fa-price-tags:before {
  content: "\e936";
}
.fa-barcode:before {
  content: "\e937";
}
.fa-qrcode:before {
  content: "\e938";
}
.fa-ticket:before {
  content: "\e939";
}
.fa-cart:before {
  content: "\e93a";
}
.fa-coin-dollar:before {
  content: "\e93b";
}
.fa-coin-euro:before {
  content: "\e93c";
}
.fa-coin-pound:before {
  content: "\e93d";
}
.fa-coin-yen:before {
  content: "\e93e";
}
.fa-credit-card:before {
  content: "\e93f";
}
.fa-calculator:before {
  content: "\e940";
}
.fa-lifebuoy:before {
  content: "\e941";
}
.fa-phone:before {
  content: "\e942";
}
.fa-phone-hang-up:before {
  content: "\e943";
}
.fa-address-book:before {
  content: "\e944";
}
.fa-envelop:before {
  content: "\e945";
}
.fa-pushpin:before {
  content: "\e946";
}
.fa-location:before {
  content: "\e947";
}
.fa-location2:before {
  content: "\e948";
}
.fa-compass:before {
  content: "\e949";
}
.fa-compass2:before {
  content: "\e94a";
}
.fa-map:before {
  content: "\e94b";
}
.fa-map2:before {
  content: "\e94c";
}
.fa-history:before {
  content: "\e94d";
}
.fa-clock:before {
  content: "\e94e";
}
.fa-clock2:before {
  content: "\e94f";
}
.fa-alarm:before {
  content: "\e950";
}
.fa-bell:before {
  content: "\e951";
}
.fa-stopwatch:before {
  content: "\e952";
}
.fa-calendar:before {
  content: "\e953";
}
.fa-printer:before {
  content: "\e954";
}
.fa-keyboard:before {
  content: "\e955";
}
.fa-display:before {
  content: "\e956";
}
.fa-laptop:before {
  content: "\e957";
}
.fa-mobile:before {
  content: "\e958";
}
.fa-mobile2:before {
  content: "\e959";
}
.fa-tablet:before {
  content: "\e95a";
}
.fa-tv:before {
  content: "\e95b";
}
.fa-drawer:before {
  content: "\e95c";
}
.fa-drawer2:before {
  content: "\e95d";
}
.fa-box-add:before {
  content: "\e95e";
}
.fa-box-remove:before {
  content: "\e95f";
}
.fa-download:before {
  content: "\e960";
}
.fa-upload:before {
  content: "\e961";
}
.fa-floppy-disk:before {
  content: "\e962";
}
.fa-drive:before {
  content: "\e963";
}
.fa-database:before {
  content: "\e964";
}
.fa-undo:before {
  content: "\e965";
}
.fa-redo:before {
  content: "\e966";
}
.fa-undo2:before {
  content: "\e967";
}
.fa-redo2:before {
  content: "\e968";
}
.fa-forward:before {
  content: "\e969";
}
.fa-reply:before {
  content: "\e96a";
}
.fa-bubble:before {
  content: "\e96b";
}
.fa-bubbles:before {
  content: "\e96c";
}
.fa-bubbles2:before {
  content: "\e96d";
}
.fa-bubble2:before {
  content: "\e96e";
}
.fa-bubbles3:before {
  content: "\e96f";
}
.fa-bubbles4:before {
  content: "\e970";
}
.fa-user:before {
  content: "\e971";
}
.fa-users:before {
  content: "\e972";
}
.fa-user-plus:before {
  content: "\e973";
}
.fa-user-minus:before {
  content: "\e974";
}
.fa-user-check:before {
  content: "\e975";
}
.fa-user-tie:before {
  content: "\e976";
}
.fa-quotes-left:before {
  content: "\e977";
}
.fa-quotes-right:before {
  content: "\e978";
}
.fa-hour-glass:before {
  content: "\e979";
}
.fa-spinner:before {
  content: "\e97a";
}
.fa-spinner2:before {
  content: "\e97b";
}
.fa-spinner3:before {
  content: "\e97c";
}
.fa-spinner4:before {
  content: "\e97d";
}
.fa-spinner5:before {
  content: "\e97e";
}
.fa-spinner6:before {
  content: "\e97f";
}
.fa-spinner7:before {
  content: "\e980";
}
.fa-spinner8:before {
  content: "\e981";
}
.fa-spinner9:before {
  content: "\e982";
}
.fa-spinner10:before {
  content: "\e983";
}
.fa-spinner11:before {
  content: "\e984";
}
.fa-binoculars:before {
  content: "\e985";
}
.fa-search:before {
  content: "\e986";
}
.fa-zoom-in:before {
  content: "\e987";
}
.fa-zoom-out:before {
  content: "\e988";
}
.fa-enlarge:before {
  content: "\e989";
}
.fa-shrink:before {
  content: "\e98a";
}
.fa-enlarge2:before {
  content: "\e98b";
}
.fa-shrink2:before {
  content: "\e98c";
}
.fa-key:before {
  content: "\e98d";
}
.fa-key2:before {
  content: "\e98e";
}
.fa-lock:before {
  content: "\e98f";
}
.fa-unlocked:before {
  content: "\e990";
}
.fa-wrench:before {
  content: "\e991";
}
.fa-equalizer:before {
  content: "\e992";
}
.fa-equalizer2:before {
  content: "\e993";
}
.fa-cog:before {
  content: "\e994";
}
.fa-cogs:before {
  content: "\e995";
}
.fa-hammer:before {
  content: "\e996";
}
.fa-magic-wand:before {
  content: "\e997";
}
.fa-aid-kit:before {
  content: "\e998";
}
.fa-bug:before {
  content: "\e999";
}
.fa-pie-chart:before {
  content: "\e99a";
}
.fa-stats-dots:before {
  content: "\e99b";
}
.fa-stats-bars:before {
  content: "\e99c";
}
.fa-stats-bars2:before {
  content: "\e99d";
}
.fa-trophy:before {
  content: "\e99e";
}
.fa-gift:before {
  content: "\e99f";
}
.fa-glass:before {
  content: "\e9a0";
}
.fa-glass2:before {
  content: "\e9a1";
}
.fa-mug:before {
  content: "\e9a2";
}
.fa-spoon-knife:before {
  content: "\e9a3";
}
.fa-leaf:before {
  content: "\e9a4";
}
.fa-rocket:before {
  content: "\e9a5";
}
.fa-meter:before {
  content: "\e9a6";
}
.fa-meter2:before {
  content: "\e9a7";
}
.fa-hammer2:before {
  content: "\e9a8";
}
.fa-fire:before {
  content: "\e9a9";
}
.fa-lab:before {
  content: "\e9aa";
}
.fa-magnet:before {
  content: "\e9ab";
}
.fa-bin:before {
  content: "\e9ac";
}
.fa-bin2:before {
  content: "\e9ad";
}
.fa-briefcase:before {
  content: "\e9ae";
}
.fa-airplane:before {
  content: "\e9af";
}
.fa-truck:before {
  content: "\e9b0";
}
.fa-road:before {
  content: "\e9b1";
}
.fa-accessibility:before {
  content: "\e9b2";
}
.fa-target:before {
  content: "\e9b3";
}
.fa-shield:before {
  content: "\e9b4";
}
.fa-power:before {
  content: "\e9b5";
}
.fa-switch:before {
  content: "\e9b6";
}
.fa-power-cord:before {
  content: "\e9b7";
}
.fa-clipboard:before {
  content: "\e9b8";
}
.fa-list-numbered:before {
  content: "\e9b9";
}
.fa-list:before {
  content: "\e9ba";
}
.fa-list2:before {
  content: "\e9bb";
}
.fa-tree:before {
  content: "\e9bc";
}
.fa-menu:before {
  content: "\e9bd";
}
.fa-menu2:before {
  content: "\e9be";
}
.fa-menu3:before {
  content: "\e9bf";
}
.fa-menu4:before {
  content: "\e9c0";
}
.fa-cloud:before {
  content: "\e9c1";
}
.fa-cloud-download:before {
  content: "\e9c2";
}
.fa-cloud-upload:before {
  content: "\e9c3";
}
.fa-cloud-check:before {
  content: "\e9c4";
}
.fa-download2:before {
  content: "\e9c5";
}
.fa-upload2:before {
  content: "\e9c6";
}
.fa-download3:before {
  content: "\e9c7";
}
.fa-upload3:before {
  content: "\e9c8";
}
.fa-sphere:before {
  content: "\e9c9";
}
.fa-earth:before {
  content: "\e9ca";
}
.fa-link:before {
  content: "\e9cb";
}
.fa-flag:before {
  content: "\e9cc";
}
.fa-attachment:before {
  content: "\e9cd";
}
.fa-eye:before {
  content: "\e9ce";
}
.fa-eye-plus:before {
  content: "\e9cf";
}
.fa-eye-minus:before {
  content: "\e9d0";
}
.fa-eye-blocked:before {
  content: "\e9d1";
}
.fa-bookmark:before {
  content: "\e9d2";
}
.fa-bookmarks:before {
  content: "\e9d3";
}
.fa-sun:before {
  content: "\e9d4";
}
.fa-contrast:before {
  content: "\e9d5";
}
.fa-brightness-contrast:before {
  content: "\e9d6";
}
.fa-star-empty:before {
  content: "\e9d7";
}
.fa-star-half:before {
  content: "\e9d8";
}
.fa-star-full:before {
  content: "\e9d9";
}
.fa-heart:before {
  content: "\e9da";
}
.fa-heart-broken:before {
  content: "\e9db";
}
.fa-man:before {
  content: "\e9dc";
}
.fa-woman:before {
  content: "\e9dd";
}
.fa-man-woman:before {
  content: "\e9de";
}
.fa-happy:before {
  content: "\e9df";
}
.fa-happy2:before {
  content: "\e9e0";
}
.fa-smile:before {
  content: "\e9e1";
}
.fa-smile2:before {
  content: "\e9e2";
}
.fa-tongue:before {
  content: "\e9e3";
}
.fa-tongue2:before {
  content: "\e9e4";
}
.fa-sad:before {
  content: "\e9e5";
}
.fa-sad2:before {
  content: "\e9e6";
}
.fa-wink:before {
  content: "\e9e7";
}
.fa-wink2:before {
  content: "\e9e8";
}
.fa-grin:before {
  content: "\e9e9";
}
.fa-grin2:before {
  content: "\e9ea";
}
.fa-cool:before {
  content: "\e9eb";
}
.fa-cool2:before {
  content: "\e9ec";
}
.fa-angry:before {
  content: "\e9ed";
}
.fa-angry2:before {
  content: "\e9ee";
}
.fa-evil:before {
  content: "\e9ef";
}
.fa-evil2:before {
  content: "\e9f0";
}
.fa-shocked:before {
  content: "\e9f1";
}
.fa-shocked2:before {
  content: "\e9f2";
}
.fa-baffled:before {
  content: "\e9f3";
}
.fa-baffled2:before {
  content: "\e9f4";
}
.fa-confused:before {
  content: "\e9f5";
}
.fa-confused2:before {
  content: "\e9f6";
}
.fa-neutral:before {
  content: "\e9f7";
}
.fa-neutral2:before {
  content: "\e9f8";
}
.fa-hipster:before {
  content: "\e9f9";
}
.fa-hipster2:before {
  content: "\e9fa";
}
.fa-wondering:before {
  content: "\e9fb";
}
.fa-wondering2:before {
  content: "\e9fc";
}
.fa-sleepy:before {
  content: "\e9fd";
}
.fa-sleepy2:before {
  content: "\e9fe";
}
.fa-frustrated:before {
  content: "\e9ff";
}
.fa-frustrated2:before {
  content: "\ea00";
}
.fa-crying:before {
  content: "\ea01";
}
.fa-crying2:before {
  content: "\ea02";
}
.fa-point-up:before {
  content: "\ea03";
}
.fa-point-right:before {
  content: "\ea04";
}
.fa-point-down:before {
  content: "\ea05";
}
.fa-point-left:before {
  content: "\ea06";
}
.fa-warning:before {
  content: "\ea07";
}
.fa-notification:before {
  content: "\ea08";
}
.fa-question:before {
  content: "\ea09";
}
.fa-plus:before {
  content: "\ea0a";
}
.fa-minus:before {
  content: "\ea0b";
}
.fa-info:before {
  content: "\ea0c";
}
.fa-cancel-circle:before {
  content: "\ea0d";
}
.fa-blocked:before {
  content: "\ea0e";
}
.fa-cross:before {
  content: "\ea0f";
}
.fa-checkmark:before {
  content: "\ea10";
}
.fa-checkmark2:before {
  content: "\ea11";
}
.fa-spell-check:before {
  content: "\ea12";
}
.fa-enter:before {
  content: "\ea13";
}
.fa-exit:before {
  content: "\ea14";
}
.fa-play2:before {
  content: "\ea15";
}
.fa-pause:before {
  content: "\ea16";
}
.fa-stop:before {
  content: "\ea17";
}
.fa-previous:before {
  content: "\ea18";
}
.fa-next:before {
  content: "\ea19";
}
.fa-backward:before {
  content: "\ea1a";
}
.fa-forward2:before {
  content: "\ea1b";
}
.fa-play3:before {
  content: "\ea1c";
}
.fa-pause2:before {
  content: "\ea1d";
}
.fa-stop2:before {
  content: "\ea1e";
}
.fa-backward2:before {
  content: "\ea1f";
}
.fa-forward3:before {
  content: "\ea20";
}
.fa-first:before {
  content: "\ea21";
}
.fa-last:before {
  content: "\ea22";
}
.fa-previous2:before {
  content: "\ea23";
}
.fa-next2:before {
  content: "\ea24";
}
.fa-eject:before {
  content: "\ea25";
}
.fa-volume-high:before {
  content: "\ea26";
}
.fa-volume-medium:before {
  content: "\ea27";
}
.fa-volume-low:before {
  content: "\ea28";
}
.fa-volume-mute:before {
  content: "\ea29";
}
.fa-volume-mute2:before {
  content: "\ea2a";
}
.fa-volume-increase:before {
  content: "\ea2b";
}
.fa-volume-decrease:before {
  content: "\ea2c";
}
.fa-loop:before {
  content: "\ea2d";
}
.fa-loop2:before {
  content: "\ea2e";
}
.fa-infinite:before {
  content: "\ea2f";
}
.fa-shuffle:before {
  content: "\ea30";
}
.fa-arrow-up-left:before {
  content: "\ea31";
}
.fa-arrow-up:before {
  content: "\ea32";
}
.fa-arrow-up-right:before {
  content: "\ea33";
}
.fa-arrow-right:before {
  content: "\ea34";
}
.fa-arrow-down-right:before {
  content: "\ea35";
}
.fa-arrow-down:before {
  content: "\ea36";
}
.fa-arrow-down-left:before {
  content: "\ea37";
}
.fa-arrow-left:before {
  content: "\ea38";
}
.fa-arrow-up-left2:before {
  content: "\ea39";
}
.fa-arrow-up2:before {
  content: "\ea3a";
}
.fa-arrow-up-right2:before {
  content: "\ea3b";
}
.fa-arrow-right2:before {
  content: "\ea3c";
}
.fa-arrow-down-right2:before {
  content: "\ea3d";
}
.fa-arrow-down2:before {
  content: "\ea3e";
}
.fa-arrow-down-left2:before {
  content: "\ea3f";
}
.fa-arrow-left2:before {
  content: "\ea40";
}
.fa-circle-up:before {
  content: "\ea41";
}
.fa-circle-right:before {
  content: "\ea42";
}
.fa-circle-down:before {
  content: "\ea43";
}
.fa-circle-left:before {
  content: "\ea44";
}
.fa-tab:before {
  content: "\ea45";
}
.fa-move-up:before {
  content: "\ea46";
}
.fa-move-down:before {
  content: "\ea47";
}
.fa-sort-alpha-asc:before {
  content: "\ea48";
}
.fa-sort-alpha-desc:before {
  content: "\ea49";
}
.fa-sort-numeric-asc:before {
  content: "\ea4a";
}
.fa-sort-numberic-desc:before {
  content: "\ea4b";
}
.fa-sort-amount-asc:before {
  content: "\ea4c";
}
.fa-sort-amount-desc:before {
  content: "\ea4d";
}
.fa-command:before {
  content: "\ea4e";
}
.fa-shift:before {
  content: "\ea4f";
}
.fa-ctrl:before {
  content: "\ea50";
}
.fa-opt:before {
  content: "\ea51";
}
.fa-checkbox-checked:before {
  content: "\ea52";
}
.fa-checkbox-unchecked:before {
  content: "\ea53";
}
.fa-radio-checked:before {
  content: "\ea54";
}
.fa-radio-checked2:before {
  content: "\ea55";
}
.fa-radio-unchecked:before {
  content: "\ea56";
}
.fa-crop:before {
  content: "\ea57";
}
.fa-make-group:before {
  content: "\ea58";
}
.fa-ungroup:before {
  content: "\ea59";
}
.fa-scissors:before {
  content: "\ea5a";
}
.fa-filter:before {
  content: "\ea5b";
}
.fa-font:before {
  content: "\ea5c";
}
.fa-ligature:before {
  content: "\ea5d";
}
.fa-ligature2:before {
  content: "\ea5e";
}
.fa-text-height:before {
  content: "\ea5f";
}
.fa-text-width:before {
  content: "\ea60";
}
.fa-font-size:before {
  content: "\ea61";
}
.fa-bold:before {
  content: "\ea62";
}
.fa-underline:before {
  content: "\ea63";
}
.fa-italic:before {
  content: "\ea64";
}
.fa-strikethrough:before {
  content: "\ea65";
}
.fa-omega:before {
  content: "\ea66";
}
.fa-sigma:before {
  content: "\ea67";
}
.fa-page-break:before {
  content: "\ea68";
}
.fa-superscript:before {
  content: "\ea69";
}
.fa-subscript:before {
  content: "\ea6a";
}
.fa-superscript2:before {
  content: "\ea6b";
}
.fa-subscript2:before {
  content: "\ea6c";
}
.fa-text-color:before {
  content: "\ea6d";
}
.fa-pagebreak:before {
  content: "\ea6e";
}
.fa-clear-formatting:before {
  content: "\ea6f";
}
.fa-table:before {
  content: "\ea70";
}
.fa-table2:before {
  content: "\ea71";
}
.fa-insert-template:before {
  content: "\ea72";
}
.fa-pilcrow:before {
  content: "\ea73";
}
.fa-ltr:before {
  content: "\ea74";
}
.fa-rtl:before {
  content: "\ea75";
}
.fa-section:before {
  content: "\ea76";
}
.fa-paragraph-left:before {
  content: "\ea77";
}
.fa-paragraph-center:before {
  content: "\ea78";
}
.fa-paragraph-right:before {
  content: "\ea79";
}
.fa-paragraph-justify:before {
  content: "\ea7a";
}
.fa-indent-increase:before {
  content: "\ea7b";
}
.fa-indent-decrease:before {
  content: "\ea7c";
}
.fa-share:before {
  content: "\ea7d";
}
.fa-new-tab:before {
  content: "\ea7e";
}
.fa-embed:before {
  content: "\ea7f";
}
.fa-embed2:before {
  content: "\ea80";
}
.fa-terminal:before {
  content: "\ea81";
}
.fa-share2:before {
  content: "\ea82";
}
.fa-mail:before {
  content: "\ea83";
}
.fa-mail2:before {
  content: "\ea84";
}
.fa-mail3:before {
  content: "\ea85";
}
.fa-mail4:before {
  content: "\ea86";
}
.fa-amazon:before {
  content: "\ea87";
}
.fa-google:before {
  content: "\ea88";
}
.fa-google2:before {
  content: "\ea89";
}
.fa-google3:before {
  content: "\ea8a";
}
.fa-google-plus:before {
  content: "\ea8b";
}
.fa-google-plus2:before {
  content: "\ea8c";
}
.fa-google-plus3:before {
  content: "\ea8d";
}
.fa-hangouts:before {
  content: "\ea8e";
}
.fa-google-drive:before {
  content: "\ea8f";
}
.fa-facebook:before {
  content: "\ea90";
}
.fa-facebook2:before {
  content: "\ea91";
}
.fa-instagram:before {
  content: "\ea92";
}
.fa-whatsapp:before {
  content: "\ea93";
}
.fa-spotify:before {
  content: "\ea94";
}
.fa-telegram:before {
  content: "\ea95";
}
.fa-twitter:before {
  content: "\ea96";
}
.fa-vine:before {
  content: "\ea97";
}
.fa-vk:before {
  content: "\ea98";
}
.fa-renren:before {
  content: "\ea99";
}
.fa-sina-weibo:before {
  content: "\ea9a";
}
.fa-rss:before {
  content: "\ea9b";
}
.fa-rss2:before {
  content: "\ea9c";
}
.fa-youtube:before {
  content: "\ea9d";
}
.fa-youtube2:before {
  content: "\ea9e";
}
.fa-twitch:before {
  content: "\ea9f";
}
.fa-vimeo:before {
  content: "\eaa0";
}
.fa-vimeo2:before {
  content: "\eaa1";
}
.fa-lanyrd:before {
  content: "\eaa2";
}
.fa-flickr:before {
  content: "\eaa3";
}
.fa-flickr2:before {
  content: "\eaa4";
}
.fa-flickr3:before {
  content: "\eaa5";
}
.fa-flickr4:before {
  content: "\eaa6";
}
.fa-dribbble:before {
  content: "\eaa7";
}
.fa-behance:before {
  content: "\eaa8";
}
.fa-behance2:before {
  content: "\eaa9";
}
.fa-deviantart:before {
  content: "\eaaa";
}
.fa-500px:before {
  content: "\eaab";
}
.fa-steam:before {
  content: "\eaac";
}
.fa-steam2:before {
  content: "\eaad";
}
.fa-dropbox:before {
  content: "\eaae";
}
.fa-onedrive:before {
  content: "\eaaf";
}
.fa-github:before {
  content: "\eab0";
}
.fa-npm:before {
  content: "\eab1";
}
.fa-basecamp:before {
  content: "\eab2";
}
.fa-trello:before {
  content: "\eab3";
}
.fa-wordpress:before {
  content: "\eab4";
}
.fa-joomla:before {
  content: "\eab5";
}
.fa-ello:before {
  content: "\eab6";
}
.fa-blogger:before {
  content: "\eab7";
}
.fa-blogger2:before {
  content: "\eab8";
}
.fa-tumblr:before {
  content: "\eab9";
}
.fa-tumblr2:before {
  content: "\eaba";
}
.fa-yahoo:before {
  content: "\eabb";
}
.fa-yahoo2:before {
  content: "\eabc";
}
.fa-tux:before {
  content: "\eabd";
}
.fa-appleinc:before {
  content: "\eabe";
}
.fa-finder:before {
  content: "\eabf";
}
.fa-android:before {
  content: "\eac0";
}
.fa-windows:before {
  content: "\eac1";
}
.fa-windows8:before {
  content: "\eac2";
}
.fa-soundcloud:before {
  content: "\eac3";
}
.fa-soundcloud2:before {
  content: "\eac4";
}
.fa-skype:before {
  content: "\eac5";
}
.fa-reddit:before {
  content: "\eac6";
}
.fa-hackernews:before {
  content: "\eac7";
}
.fa-wikipedia:before {
  content: "\eac8";
}
.fa-linkedin:before {
  content: "\eac9";
}
.fa-linkedin2:before {
  content: "\eaca";
}
.fa-lastfm:before {
  content: "\eacb";
}
.fa-lastfm2:before {
  content: "\eacc";
}
.fa-delicious:before {
  content: "\eacd";
}
.fa-stumbleupon:before {
  content: "\eace";
}
.fa-stumbleupon2:before {
  content: "\eacf";
}
.fa-stackoverflow:before {
  content: "\ead0";
}
.fa-pinterest:before {
  content: "\ead1";
}
.fa-pinterest2:before {
  content: "\ead2";
}
.fa-xing:before {
  content: "\ead3";
}
.fa-xing2:before {
  content: "\ead4";
}
.fa-flattr:before {
  content: "\ead5";
}
.fa-foursquare:before {
  content: "\ead6";
}
.fa-yelp:before {
  content: "\ead7";
}
.fa-paypal:before {
  content: "\ead8";
}
.fa-chrome:before {
  content: "\ead9";
}
.fa-firefox:before {
  content: "\eada";
}
.fa-IE:before {
  content: "\eadb";
}
.fa-edge:before {
  content: "\eadc";
}
.fa-safari:before {
  content: "\eadd";
}
.fa-opera:before {
  content: "\eade";
}
.fa-file-pdf:before {
  content: "\eadf";
}
.fa-file-openoffice:before {
  content: "\eae0";
}
.fa-file-word:before {
  content: "\eae1";
}
.fa-file-excel:before {
  content: "\eae2";
}
.fa-libreoffice:before {
  content: "\eae3";
}
.fa-html-five:before {
  content: "\eae4";
}
.fa-html-five2:before {
  content: "\eae5";
}
.fa-css3:before {
  content: "\eae6";
}
.fa-git:before {
  content: "\eae7";
}
.fa-codepen:before {
  content: "\eae8";
}
.fa-svg:before {
  content: "\eae9";
}
.fa-IcoMoon:before {
  content: "\eaea";
}
